
html,
body {
    width: 100%;
    height: 100%;
   
}

body {
    background-color: #606060;
   
}

.navbar {
    --bs-navbar-brand-color: white;
    --bs-navbar-color: rgba(255,255,255,0.8);
    --bs-navbar-active-color: rgba(255,255,255,0.5) !important;
    --bs-navbar-hover-color: rgba(255, 255, 255);
    background-color: white;
    background: linear-gradient(to bottom, rgba(50,50,50,1), rgba(50,50,50,0.7),  rgba(50,50,50,1));
}

a.nav-link {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;

}

.nav-link.dropdown-toggle::after {
    color: rgb(239, 136, 3);
}


a.nav-link.dropdown-toggle.show::after {
    color: rgb(33, 180, 53) ;
}
.dropdown-item {
    color: green;
}



#iframeContainer {
    width: 100%;
    height: 100%;
    padding: 0;
}

